*.pem.h

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
**/.generated_files/
**/build/
**/dist/
**/debug/
**/nbproject/private/
**/nbproject/Makefile-*
**/nbproject/Package-*
*.bak
*.xml~
*.lib
TODO.txt
